<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="LBTUnity1Entities1"
        connectionString="Data Source=lbtmsql;Initial Catalog=LBTUnity1;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>