<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LBTDocumentProvider.OrmImpl.Properties.Settings.LBTUnity1ConnectionString"
            connectionString="Data Source=lbtmsql;Initial Catalog=LBTUnity1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>